<% if (student) { %>
    <%- include ('./partials/student-header.ejs') %>
<% } else { %>
    <%- include ('./partials/header.ejs') %>
<% } %>  

<h3 class="text-center mt-5">SCHOLARSHIPS</h3>
<hr>


<div class="col-lg-9 mx-auto mt-lg-0 mt-3" id="jobTable">

<!-- </div> -->
<% if (scholarships.length > 0) { %>
    <% scholarships.forEach(scholarship => { %>
        <div class="mb-4 border rounded">
            <div class="row p-3">
                <div class="col-md-2">
                    <img class="img-fluid" src="/images/<%= scholarship.imageLogo %> " alt="Chevron logo">
                </div>
                <div class="col-md-7">
                    <a class="text-dark" href="/scholarships/<%= scholarship.id %>">
                        <h4 class="b-6 mt-3 mt-lg-0 ci-title"><%= scholarship.name %> </h4>
                    </a>
                    <p class="mt-4 small">Deadline: <%= scholarship.deadline.toDateString() %> </p>
                </div>
                <div class="col-md-3">
                    <a href="/scholarships/<%= scholarship.id %>" class="btn mt-2 br-0 btn-primary unsub_cancel btn-sm rounded">View
                        details</a>
                </div>
            </div>
        </div>
      <% }) %>
<% }  else { %>
    <div class="mx-auto">
        <p class="text-center">
            There are currently no new scholarships available on the platform.
        </p>
    </div>
<% } %>
      
  </div>


  

<%- include ('./partials/footer.ejs') %> 